body{
	background-image:url("image/colorful-triangles-background.jpg")
	

}


h3{
	color:skyblue;
	font-family:Comic Sans Ms;
}


table{
	background-color:orange;
	color:white;
	border-color:white;
	font-family:Comic Sans Ms;
}

tr,td{
	border-color:green;
	
}














